header {
    background-color: blanchedalmond
}

body {
    color: red;
    background-color: gray;
    background-image: url("/imagenes/img1.jpg")
}

p.new {
    color: darkblue;
    font-style: italic;
}

table {
    border-collapse: separate;
    border-spacing: 3px;
    background: brown(60, 180, 200);
    color: rgb(68, 0, 255);
    background-color: rgb(137, 139, 0)
}

#new {
    color: red;
    font-size: 3em;
    font-style: verdana;
}

#rubi {
    color: gold;
    font-style: italic
}

a:hover {
    background-color: #ffffff;
    color: #000066;
    text-decoration: none;
}

a:visited {
    background-color: #ffffff;
    color: #00ff00;
}

head.je {
    background-color: lightseagreen;
    width: 100%;
    height: 100%;
}

footer {
    background-color: dodgerblue
}

td {
    color: black
}