body {
    font-family: 'Open Sans', sans-serif;
    background-image: url('../img/f.jpg');
    background-size: cover;
}

#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #4db8ff;
}

.a {
    color: #000;
}

img {
    max-width: 100%;
}

h3 {
    margin: 0 0 1em 0;
}

header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
    background: #33adff;
    border-color: #33adff;
}

#div {
    text-align: center;
    border: blue;
}

#logo {
    text-align: center;
    margin: 0;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 15px 0;
    font-size: 1.75em;
    color: white;
    font-weight: normal;
    line-height: 0.8em;
}

h2 {
    font-size: 1em;
    margin: -5px 0 0;
    font-weight: normal;
    color: #fff;
}

nav ul {
    margin: 10px 5%;
    padding: 0;
    list-style: none;
    margin-bottom: 25px;
}

nav ul li {
    display: inline-block;
    margin: 0;
    padding: 10px;
    border: 2px dashed white;
    border-radius: 10px;
    width: 15%;
    text-align: center;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: cornflowerblue;
}

nav ul li a {
    color: white;
}

nav ul li:hover {
    animation: 2s ease-in agrandar infinite;
}

@keyframes agrandar {
    0% {
        font-size: 20px;
    }
    50% {
        font-size: 30px;
    }
    100% {
        font-size: 20px;
    }
}

footer {
    font-size: 0.50em;
    text-align: center;
    clear: both;
    padding-top: 50px;
    color: #ffffff;
    background: rgb(9, 122, 197);
}

table {
    background-color: white;
    text-align: left;
    border: black;
    width: 100%;
}

th,
td {
    padding: 20px;
    text-align: center;
    text-decoration: #1A1B1B;
}

thead {
    background-color: blue;
    border-bottom: solid 5px blue;
    color: white;
}

tr:nth-child(even) {
    background-color: rgba(221, 221, 221, 0.459);
}

tr:hover {
    background-color: #008ae6;
    color: white;
}

#new {
    font-family: 'cursive';
    color: black;
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    line-height: 20px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

@media all and (min-width: 480px) {
    #primary {
        width: 50%;
        float: left;
    }
    #secondary {
        width: 40%;
        float: left;
    }
    #gallery li {
        width: 28.3333%;
    }
    #gallery li:nth-child(20n) {
        clear: left;
        float: left;
    }
    .profile-photo {
        float: left;
        margin: 0 50% 200px 0;
    }
}

@media all and (min-width: 660px) {
    nav {
        background: none;
        float: right;
        font-size: 1.125em;
        margin-right: 5%;
        text-align: right;
        width: 45%;
    }
    #logo {
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
    }
    h1 {
        font-size: 2.5em;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: #ffffff;
        text-decoration-line: none;
    }
    h2 {
        font-size: 0.825em;
        margin-bottom: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    header {
        border-bottom: 5px solid #3adfff;
        margin-bottom: 60px;
    }
}

#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li {
    float: left;
    width: 45%;
    margin: 0.5%;
    background-color: #f5f5f5;
    color: #051925;
}

#gallery li a p {
    margin: 0;
    padding: 0.1%;
    font-size: 0.75em;
    color: #1A1B1B;
}

.profile-photo {
    display: block;
    max-width: 150px;
    margin: 0 auto 100px;
    border-radius: 200%;
}

.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

.contact-info a {
    display: block;
    min-height: 25px;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}

img {
    align-content: center;
}

.img {
    width: 100%;
    clip-path: circle(200px at center);
}

.social {
    position: fixed;
    left: 0;
    top: 200px;
    z-index: 2000px;
    margin: 1em;
}

.social ul {
    list-style: none;
    margin: 1em;
}

.social ul li a {
    display: block;
    color: #fff;
    background: #000;
    padding: 10px 15px;
    text-decoration: none;
    transition: all 500ms ease;
}

.social ul li .icon-facebook {
    background: #4169E1;
    margin: 0em;
    border-radius: 0.1em;
}

.social ul li .icon-instagram {
    background: #DB7093;
    margin: 0em;
    border-radius: 0.1em;
}

.social ul li .icon-whatsapp {
    background: #7CFC00;
    margin: 0em;
    border-radius: 0.1em;
}

.social ul li .icon-linkedin {
    background: #1E90FF;
    margin: 0em;
    border-radius: 0.1em;
}

.social ul li .icon-github {
    background: #3a3b3f;
    margin: 0em;
    border-radius: 0.1em;
}


/*.contact-info li.phone a {
    background-image: url('../img/phone.png');
}

.contact-info li.mail a {
    background-image: url('../img/email.png');
}

.contact-info li.face a {
    background-image: url('../img/facebook.png');
}

.contact-info li.link a {
    background-image: url('../img/link.png');
}

.contact-info li.git a {
    background-image: url('../img/gi.png');
}